<div>
  <h2>Editar Usuario</h2>
  <div>
    <label>Nombre:
      <input [(ngModel)]="userData.nombre" placeholder="Nombre"/>
    </label><br>
    <label>Apellido:
      <input [(ngModel)]="userData.apellido" placeholder="Apellido"/>
    </label><br>
    <label>Email:
      <input [(ngModel)]="userData.email" placeholder="Email"/>
    </label><br>
    <label>Password:
      <input [(ngModel)]="userData.password" placeholder="Password"/>
    </label><br>
  </div>
  <button (click)="updateUser()">Actualizar</button>
</div>
